* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

#sidebar {
  background: #1250BA;
  box-sizing: border-box;
  float: left;
  height: 100%;
  padding: 20px;
  width: 200px;
}

#sidebar .avatar {
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 10px;
  height: 200px;
}

#sidebar h3 {
  color: #EEEEEE;
  font-family: 'Alegreya Sans', 'Open Sans', sans-serif;
  font-size: 1.6em;
  font-weight: 200;
  margin: 10px 0;
  text-align: center;
}

#sidebar .fancy-divider-line {
  background-color: rgba(0,0,0,0.3);
  box-sizing: border-box;
  height: 1px;
  margin: 10px auto;
  width: 84%;
}

#sidebar .snippet {
  font-size: 0.8em;
  text-align: center;
}

#sidebar .nav {
  list-style: none;
}

#sidebar .nav li {
  margin: 10px 0;
  text-align: center;
}

#sidebar .nav li a {
  color: #DFE4EC;
  text-decoration: none;
}

#sidebar .nav li a:hover {
  color: white;
}

.nav > li > ul li {
  font-size: 0.8em;
  list-style: none;
  margin: 5px 0 !important;
}

.nav > li > ul li a {
  color: #BDC9DC !important;
}

.content {
  height: 100%;
  overflow: scroll;
  padding: 0 10px;
  position: relative;
  width: auto;
}

.set-in {
  margin: 10px 20px;
}

.heading {
  border-bottom: 1px solid rgba(0,0,0,0.2);
  margin-bottom: 5px;
  padding-bottom: 5px;
}

.heading .title {
  float: left;
}

.heading .date {
  float: right;
  color: rgba(0,0,0,0.7);
  font-size: 0.8em;
  position: relative;
  top: 6px;
}

.heading .clear {
  clear: both;
}

.content ul {
  margin: 10px 20px;
}
