* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

html {
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.bg-cover {
  background-position: 50% 50%;
  background-size: cover;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}

button i.fa {
  font-size: 1.2em;
}

#sidebar {
  background: #1250BA;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  padding: 20px;
  width: 200px;
}

#sidebar .avatar {
  border-radius: 10px;
  height: 200px;
}

#sidebar h3 {
  color: #EEEEEE;
  font-family: 'Alegreya Sans', 'Open Sans', sans-serif;
  font-size: 1.6em;
  font-weight: 200;
  margin: 10px 0;
  text-align: center;
}

#sidebar .fancy-divider-line {
  background-color: rgba(0,0,0,0.3);
  box-sizing: border-box;
  height: 1px;
  margin: 10px auto;
  width: 84%;
}

#sidebar .snippet {
  font-size: 0.8em;
  text-align: center;
}

#sidebar .nav {
  list-style: none;
}

#sidebar .nav li {
  margin: 10px 0;
  text-align: center;
}

#sidebar .nav li a {
  color: #DFE4EC;
  text-decoration: none;
}

#sidebar .nav li a:hover {
  color: white;
}

.nav > li > ul li {
  font-size: 0.8em;
  list-style: none;
  margin: 5px 0 !important;
}

.nav > li > ul li a {
  color: #BDC9DC !important;
}

.content {
  margin-left: 200px;
  height: 100%;
  position: relative;
  width: auto;
}

.content a {
  color: #1250BA;
  font-weight: bold;
}

.content .my-name {
  font-size: 2.5em;
}

.content h1 {
  margin-left: 15px;
}

.set-in {
  margin: 10px 20px;
}

.heading {
  border-bottom: 1px solid rgba(0,0,0,0.2);
  margin-top: 8px;
}

.heading .title {
  float: left;
}

.heading .date {
  float: right;
  color: rgba(0,0,0,0.7);
  font-size: 0.8em;
  position: relative;
  top: 6px;
}

.heading .clear {
  clear: both;
}

.content ul {
  margin: 10px 20px;
}

.games-container .game {
  background-size: cover;
  background-position: 50% 50%;
  box-sizing: border-box;
  color: #d8d8d8;
  min-height: 200px;
  padding: 20px 0;
}

.games-container .game.snakefall .copy {
  background-color: rgba(136, 136, 255, 0.64);
  box-sizing: border-box;
  display: inline-block;
}

.games-container .game h2 {
  background-color: rgba(0,0,0,0.6);
  color: white;
  font-family: 'Alegreya Sans', 'Open Sans', sans-serif;
  font-size: 2em;
  margin-bottom: 30px;
  padding-left: 20px;
}

.games-container .game .copy {
  letter-spacing: 1px;
  margin-left: 20px;
  margin-right: 20px;
}

.content button {
  background-color: #ECC968;
  border: 0;
  border-radius: 5px;
  color: #333333;
  padding: 5px 8px;
}

.content .cta-buttons a {
  margin-right: 15px;
}

.games-container .game .cta-buttons {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.gu-container {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}

.gu-container .gu-row {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
}

.gu-container .gu-row .gu {
  flex: 1;
}

.gu-container .gu-row .gu .header {
  color: white;
  display: table;
  height: 200px;
  text-align: center;
  width: 101%;
}

.gu-container .gu-row .gu .header h2 {
  background-color: rgba(0,0,0,0.6);
  font-family: 'Alegreya Sans', 'Open Sans', sans-serif;
  font-size: 2em;
}

.gu-container .gu-row .gu .copy .item {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding: 10px;
}

.gu-container .gu-row .gu .copy .item:last-of-type {
  border-bottom: 0;
}

.gu-container .gu-row .gu .cta-buttons {
  margin-bottom: 5px;
  margin-top: 10px;
}

.gu-container .gu-row .gu:hover {
  background-color: rgba(18, 80, 186, 0.19);
}

.gu-container .gu-row .gu .copy .item:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.gu-container .gu-row .gu .copy .item:hover button {
  background-color: #ECD28A;
}

.content .cta-buttons a:hover button {
  background-color: #FFEDB9 !important;
}

@media print {
  #sidebar, .no-print {
    display: none;
  }
  .content {
    margin-left: 0px;
  }
  .content h1, .content .my-name {
    font-size: 14pt;
  }
  .content .my-name, .content .contact-info {
    text-align: center;
    margin: 8px 0px 0px 0px;
  }
  .content h2, .content h3 {
    font-size: 12pt;
  }
  .set-in {
    margin: 8px 0px 0px 30px;
  }
  .heading {
    margin-top: 0px;
  }

  a:link, a:visited {
    color: black;
  }
}
