* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

html {
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.bg-cover {
  background-position: 50% 50%;
  background-size: cover;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}

button i.fa {
  font-size: 1.2em;
}

#sidebar {
  background: #1250BA;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  padding: 20px;
  width: 200px;
}

#sidebar .avatar {
  border-radius: 10px;
  height: 215px;
}

#sidebar h3 {
  color: #EEEEEE;
  font-family: 'Alegreya Sans', 'Open Sans', sans-serif;
  font-size: 1.6em;
  font-weight: 200;
  margin: 10px 0;
  text-align: center;
}

#sidebar .fancy-divider-line {
  background-color: rgba(0,0,0,0.3);
  box-sizing: border-box;
  height: 1px;
  margin: 10px auto;
  width: 84%;
}

#sidebar .snippet {
  font-size: 0.8em;
  text-align: center;
}

#sidebar .nav {
  list-style: none;
}

#sidebar .nav li {
  margin: 10px 0;
  text-align: center;
}

#sidebar .nav li a {
  color: #DFE4EC;
  text-decoration: none;
}

#sidebar .nav li a:hover {
  color: white;
}

.nav > li > ul li {
  font-size: 0.8em;
  list-style: none;
  margin: 5px 0 !important;
}

.nav > li > ul li a {
  color: #BDC9DC !important;
}

.content {
  margin-left: 200px;
  height: 100%;
  position: relative;
  width: auto;
}

.content a {
  color: #1250BA;
  font-weight: bold;
}

.content .my-name {
  font-size: 2.5em;
}

.content h1 {
  margin-left: 15px;
}

.item {
  clear: both;
}

.copy {
  float: right;
  width: calc(100% - 201px);
}

.set-in {
  margin: 10px 30px;
}

.heading {
  border-bottom: 1px solid rgba(0,0,0,0.2);
  margin-top: 8px;
}

.heading .title {
  float: left;
}

.heading .date {
  float: right;
  color: rgba(0,0,0,0.7);
  font-size: 0.8em;
  position: relative;
  top: 6px;
}

.heading .clear {
  clear: both;
}

.content ul {
  margin: 10px 20px;
}

.content button {
  background-color: #ECC968;
  border: 0;
  border-radius: 5px;
  color: #333333;
  padding: 5px 8px;
}

.content .cta-buttons a {
  margin-right: 15px;
}

.header {
  background-color: #0D429C;
  color: white;
  display: inline-block;
  float: left;
  height: 200px;
  text-align: center;
  width: 200px;
}

.header h2 {
  background-color: rgba(0,0,0,0.6);
  color: white;
  font-family: 'Alegreya Sans', 'Open Sans', sans-serif;
  font-size: 2em;
  text-align: center;
}

.content .cta-buttons a:hover button {
  background-color: #FFEDB9 !important;
}

@media print {
  .no-print {
    display: none;
  }
  .content {
    margin-left: 0px;
  }
  .content h1, .content .my-name {
    font-size: 14pt;
  }
  .content .my-name, .content .contact-info {
    text-align: center;
    margin: 8px 0px 0px 0px;
  }
  .content h2, .content h3 {
    font-size: 12pt;
  }
  .set-in {
    margin: 8px 0px 0px 30px;
  }

  a:link, a:visited {
    color: inherit;
    font-weight: inherit;
  }
}
